
.sheet-card
    .sheet-hdg Class Levels

    ol.sheet-blocks.sheet-blocks--hug.sheet-blocks--3up
        - var i = 0
        while i < classes.length
            - var pcClass = classes[i]
            
            li
                .sheet-row
                    .sheet-row__cell
                        input.sheet-toggle.sheet-toggle--title(
                            type = "checkbox"
                            name = "attr_is_#{pcClass}"
                            title = pcClass
                        )
                    
                    +cloak('attr_is_' + pcClass)
                        .sheet-row__cell.sheet-row__cell--sm
                            input.sheet-field(
                                type="number"
                                name="attr_#{pcClass}_level"
                                value="0"
                                min="0"
                                step="1"
                            )
            - i++
