
.sheet-card
    .sheet-hdg Class Levels

    - var i = 0
    while i < classes.length
        ol.blocks.blocks--hug
            - var pcClass = classes[i]
            
            li
                .sheet-row
                    .sheet-row__cell
                        input.sheet-toggle.sheet-toggle--title(
                            type = "checkbox"
                            name = "attr_is_#{pcClass}"
                            title = pcClass
                        )
                        
                    +hide('attr_is_' + pcClass)

                    .sheet-row__cell.sheet-row__cell--sm
                        input.sheet-field(
                            type="number"
                            name="attr_#{pcClass}_level"
                            value="0"
                            min="0"
                            step="1"
                        )
                    - i++
        - row++
