.sheet-grid.sheet-grid--sub
    .sheet-grid__cell.sheet-grid__cell--1 Class Resources

.sheet-grid.sheet-grid--sub
    .sheet-grid__cell.sheet-grid__cell--5-12 Name
    .sheet-grid__cell.sheet-grid__cell--1-4 Recharge
    .sheet-grid__cell Current
    .sheet-grid__cell Max

fieldset.repeating_classresources

    .sheet-grid.sheet-grid--split
        .sheet-grid__cell.sheet-grid__cell--5-12
            input(type="text" name="attr_ClassResourceName")
        .sheet-grid__cell.sheet-grid__cell--1-4
            select(name="attr_ClassResourceRecharge")
                option(value="None") None
                option(value="Short Rest") Short Rest
                option(value="Long rest") Long Rest
                option(value="Other") Other


        .sheet-grid__cell
            input(
                type="number" 
                name="attr_ClassResourceTotal" 
                value="1"
            )
        .sheet-grid__cell
            input(
                type="number" 
                name="attr_ClassResourceTotal_max" 
                value="1"
            )
