.sheet-grid.sheet-grid--sub
    .sheet-grid__cell.sheet-grid__cell--1 Class Resources

.sheet-grid.sheet-grid--sub
    .sheet-grid__cell.sheet-grid__cell--5 Name
    .sheet-grid__cell.sheet-grid__cell--3 Recharge
    .sheet-grid__cell.sheet-grid__cell--sm Current
    .sheet-grid__cell.sheet-grid__cell--sm Max

fieldset.repeating_classresources

    .sheet-grid.sheet-grid--split
        .sheet-grid__cell.sheet-grid__cell--5
            input.sheet-labelled(type="text" name="attr_ClassResourceName")
        .sheet-grid__cell.sheet-grid__cell--3
            .sheet-labelled.sheet-labelled--select
                select(name="attr_ClassResourceRecharge")
                    option(value="None") None
                    option(value="Short Rest") Short Rest
                    option(value="Long rest") Long Rest
                    option(value="Other") Other

        .sheet-grid__cell.sheet-grid__cell--sm
            input.sheet-labelled(
                type="number" 
                name="attr_ClassResourceTotal" 
                value="1"
            )
        .sheet-grid__cell.sheet-grid__cell--sm
            input.sheet-labelled(
                type="number" 
                name="attr_ClassResourceTotal_max" 
                value="1"
            )
