.sheet-grid.sheet-grid--pad.sheet-grid--col
    .sheet-grid__cell 
        // top section
        .sheet-grid.sheet-grid--pad 

            .sheet-grid__cell
                h1.hdg Core Stats
                .sheet-grid.sheet-grid--sub 
                    .sheet-grid__cell &nbsp;
                    .sheet-grid__cell Score
                    .sheet-grid__cell Mod
                    .sheet-grid__cell Save Prof?
                    .sheet-grid__cell Save Bonus
                    .sheet-grid__cell Save

                each ability in abilities
                    .sheet-grid.sheet-grid--split 
                        .sheet-grid__cell.sheet-grid__cell--1-6 
                            .sheet-label.sheet-label--core-stat= ability.abbr
                    
                        .sheet-grid__cell.sheet-grid__cell--1-6 
                            input.sheet-field(
                                type='number' 
                                name='attr_#{ability.name}' 
                                min='1' 
                                step='1'
                            )
                        
                        .sheet-grid__cell.sheet-grid__cell--1-6 
                            input.sheet-field.sheet-field--disabled(
                                type='number' 
                                name='attr_#{ability.name}_mod' 
                                value='(floor((@{#{ability.name}}-10)/2))' 
                                disabled
                            )
                        
                        .sheet-grid__cell.sheet-grid__cell--1-6
                            +tick(
                                'attr_' + ability.name + '_save_prof',
                                '@{PB}'
                            )
                        
                        .sheet-grid__cell.sheet-grid__cell--1-6 
                            input.sheet-field(
                                type='number' 
                                name='attr_#{ability.name}_save_mod' 
                                value='@\{#{ability.name}_mod} + @\{#{ability.name}_save_prof}' 
                                disabled
                            ) 
                        
                        .sheet-grid__cell.sheet-grid__cell--1-6 
                            button.roll(
                                type='roll'
                                name='roll_Strength_Save' 
                                value='/em attempts a saving throw\n\n#{ability.name} save:[[1d20 + @{#{ability.name}_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]]'
                            )  

            .sheet-grid__cell     
                .sheet-grid.sheet-grid--col.sheet-grid--pad 
                    .sheet-grid__cell 
                        h1.hdg 
                            = 'Hit Points'
                            i.sheet-pictos k
                            = 'and Speed'
                            i.sheet-pictos 1

                        .sheet-grid.sheet-grid--split 
                            .sheet-grid__cell 
                                label.sheet-field 
                                    span.sheet-field__label Current
                                    input.sheet-field__field(
                                        type='number' 
                                        name='attr_HP' 
                                        step='1'
                                    ) 
                            .sheet-grid__cell 
                                label.sheet-field 
                                    span.sheet-field__label Max
                                    input.sheet-field__field(
                                        type='number' 
                                        name='attr_HP_max' 
                                        min='1' 
                                        step='1'
                                    )
                            .sheet-grid__cell
                                label.sheet-field 
                                    span.sheet-field__label Temp HP
                                    input.sheet-field__field(
                                        type='number' 
                                        name='attr_temp_HP' 
                                        value='0' 
                                        min='0' 
                                        step='1' 
                                    )

                            .sheet-grid__cell 
                                label.sheet-field                                     
                                    span.sheet-field__label Speed
                                    input.sheet-field__field(
                                        type='text' 
                                        name='attr_speed' 
                                    )
                    .sheet-grid__cell 
                        .sheet-grid.sheet-grid--pad 
                            .sheet-grid__cell 
                                h1.hdg Initiative
                                    i.sheet-pictos t
                                .sheet-grid.sheet-grid--split 
                                    .sheet-grid__cell
                                        label.sheet-field(
                                            title='Only enter additional bonuses to initiative here. Your Dex mod is already included in the macro button' 
                                        )              
                                            span.sheet-field__label Bonus
                                            input.sheet-field__field(
                                                type='number' 
                                                name='attr_initiative' 
                                                value='0' 
                                                step='1'
                                            )
                                    
                                    .sheet-grid__cell 
                                        label.sheet-field.sheet-field--disabled 
                                            span.sheet-field__label Total
                                            input.sheet-field__field(
                                                type='number' 
                                                name='attr_initiative_overall' 
                                                value='@{dexterity_mod} + @{initiative}' 
                                                disabled
                                            ) 
                                    .sheet-grid__cell 
                                        +roll('roll_Initiative', '@{selected|token_name} rolls a [[1d20 + @{selected|initiative_overall} [Initiative Mod] &{tracker}]] for initiative! Initiative')
                                        
                            .sheet-grid__cell
                                h1.hdg Armour Class 
                                    i.sheet-pictos-three b
                                .sheet-grid.sheet-grid--split 
                                    .sheet-grid__cell.sheet-grid__cell--1-2 
                                        label.sheet-field.sheet-field--disabled 
                                            span.sheet-field__label AC (armour on)
                                            input.sheet-field__field(
                                                type='number' 
                                                name='attr_AC' 
                                                value='@{AC_calc}' 
                                                disabled
                                            )
                                    .sheet-grid__cell.sheet-grid__cell--1-2 
                                        label.sheet-field.sheet-field--disabled                             
                                            span.sheet-field__label AC (armour off)
                                            input.sheet-field__field(
                                                type='number' 
                                                name='attr_AC_no_armour' 
                                                value='@{AC_no_armour_calc}' 
                                                disabled
                                            )
                    .sheet-grid__cell 
                        h1.hdg Level and Experience
                            i.sheet-pictos-three d
                        .sheet-grid.sheet-grid--split 
                            .sheet-grid__cell.sheet-grid__cell--1-4
                                label.sheet-field.sheet-field--disabled(
                                    title='This is automatically calculated from your individual class levels listed in the class section'
                                )                                    
                                    span.sheet-field__label Overall Level
                                    input.sheet-field__field(
                                        type='number' 
                                        name='attr_level' 
                                        value='@{barbarian_level} + @{bard_level} + @{cleric_level} + @{druid_level} + @{fighter_level} + @{monk_level} + @{paladin_level} + @{ranger_level} + @{rogue_level} + @{sorcerer_level} + @{warlock_level} + @{wizard_level}' 
                                        disabled
                                    ) 
                            .sheet-grid__cell.sheet-grid__cell--1-4
                                label.sheet-field.sheet-field--disabled(
                                    title='This is a bonus for you being proficient in a given task.  This bonus automatically increases as you level up and is used automatically in various rolls'
                                )
                                    span.sheet-field__label Prof Bonus
                                    input.sheet-field__field(
                                        type='number'  
                                        name='attr_PB' 
                                        value='(ceil((@{level})/1e10) + ceil((@{level})/4))' 
                                        disabled
                                    )
                            .sheet-grid__cell.sheet-grid__cell--1-4 
                                label.sheet-field             
                                    span.sheet-field__label Current XP
                                    input.sheet-field__field(
                                        type='number' 
                                        name='attr_xp' 
                                        min='0' 
                                        step='1'
                                    )
                            
                            .sheet-grid__cell.sheet-grid__cell--1-4 
                                label.sheet-field                     
                                    span.sheet-field__label XP for next level
                                    input.sheet-field__field(
                                        type='number' 
                                        id='attr_xp_next_level' 
                                        name='attr_xp_next_level' 
                                        min='0' 
                                        step='1'
                                    )
    .sheet-grid__cell 
        // bottom section
        .sheet-grid.sheet-grid--pad 
            .sheet-grid__cell.sheet-grid__cell--5-12
                include pc-core-bonuses
            .sheet-grid__cell.sheet-grid__cell--7-12 
                .sheet-grid.sheet-grid--pad.sheet-grid--col 
                    .sheet-grid__cell 
                        h1.hdg Hit Dice 
                            i.sheet-d6-font E
                        .sheet-grid.sheet-grid--sub 
                            .sheet-grid__cell.sheet-grid__cell--3-7 Classes                             
                            .sheet-grid__cell Hit Die                             
                            .sheet-grid__cell Current                             
                            .sheet-grid__cell Max                             
                            .sheet-grid__cell &nbsp;

                        .sheet-grid.sheet-grid--split 
                            .sheet-grid__cell.sheet-grid__cell--3-7 
                                .sheet-label Sorcerer, Wizard                            
                            .sheet-grid__cell d6
                            .sheet-grid__cell 
                                input.sheet-field(
                                    type='number'         
                                    name='attr_hd_d6' 
                                    value='0' 
                                    min='0' 
                                    step='1'
                                )
                            .sheet-grid__cell 
                                input.sheet-field(
                                    type='number'                                     
                                    name='attr_hd_d6_max'                                     
                                    value='@{sorcerer_level} + @{wizard_level}' 
                                    disabled
                                ) 
                            .sheet-grid__cell
                                +roll('roll_Use_HD_d6', '/em takes a rest\n\n[[1d6 + @{constitution_mod} [Constitution Mod] ]] HP recovered from resting (1d6 hit dice used) Use')
                                
                        .sheet-grid.sheet-grid--split 
                            .sheet-grid__cell.sheet-grid__cell--3-7 
                                .sheet-label Bard, Cleric, Druid, Rogue, Monk, Warlock
                            .sheet-grid__cell d8
                            .sheet-grid__cell 
                                input.sheet-field(
                                    type='number'             
                                    name='attr_hd_d8' 
                                    value='0' 
                                    min='0' 
                                    step='1'
                                )
                            .sheet-grid__cell 
                                input.sheet-field(
                                    type='number'         
                                    name='attr_hd_d8_max' 
                                    value='@{bard_level} + @{cleric_level} + @{druid_level} + @{rogue_level} + @{monk_level} + @{warlock_level}' 
                                    disabled
                                ) 
                            .sheet-grid__cell 
                                button.roll(
                                    type='roll'
                                    name='roll_Use_HD_d8' 
                                    value='/em takes a rest\n\n[[1d8 + @{constitution_mod} [Constitution Mod] ]] HP recovered from resting (1d8 hit dice used) Use'
                                )
                        .sheet-grid.sheet-grid--split 
                            .sheet-grid__cell.sheet-grid__cell--3-7 
                                .sheet-label Fighter, Paladin, Ranger
                            .sheet-grid__cell d10
                            .sheet-grid__cell 
                                input.sheet-field(
                                    type='number' 
                                    name='attr_hd_d10' 
                                    value='0' 
                                    min='0' 
                                    step='1'
                                )
                            .sheet-grid__cell 
                                input.sheet-field(
                                    type='number'     
                                    name='attr_hd_d10_max' 
                                    value='@{fighter_level} + @{paladin_level} + @{ranger_level}'
                                    disabled
                                ) 
                            .sheet-grid__cell 
                                button.roll(
                                    type='roll'
                                    name='roll_Use_HD_d10' 
                                    value='/em takes a rest\n\n[[1d10 + @{constitution_mod} [Constitution Mod] ]] HP recovered from resting (1d10 hit dice used) Use'
                                )
                        .sheet-grid.sheet-grid--split 
                            .sheet-grid__cell.sheet-grid__cell--3-7 
                                .sheet-label Barbarian                             
                            .sheet-grid__cell d12                             
                            .sheet-grid__cell 
                                input.sheet-field(
                                    type='number'                                     
                                    name='attr_hd_d12' 
                                    value='0' 
                                    min='0' 
                                    step='1'
                                )
                            
                            .sheet-grid__cell 
                                input.sheet-field(
                                    type='number'            
                                    name='attr_hd_d12_max' 
                                    value='@{barbarian_level}' 
                                    disabled
                                ) 
                            .sheet-grid__cell 
                                button.roll(
                                    type='roll'
                                    name='roll_Use_HD_d12' 
                                    value='/em takes a rest\n\n[[1d12 + @{constitution_mod} [Constitution Mod] ]] HP recovered from resting (1d12 hit dice used) Use'
                                )
                    .sheet-grid__cell 
                        h1.hdg Other
                            i.sheet-pictos o
                        .sheet-grid.sheet-grid--sub 
                            .sheet-grid__cell.sheet-grid__cell--1-5 Inspiration?
                            .sheet-grid__cell.sheet-grid__cell--4-5 Death Saving Throws
                        .sheet-grid 
                            .sheet-grid__cell.sheet-grid__cell--1-5 
                                input.toggle(
                                    type='checkbox' 
                                    name='attr_inspiration' 
                                    value='1'
                                )
                            .sheet-grid__cell.sheet-grid__cell--3-5 
                                .sheet-grid.sheet-grid--split 
                                    .sheet-grid__cell.sheet-grid__cell--1-3 
                                        .sheet-label Successes:
                                    .sheet-grid__cell 
                                        +tick('attr_death_save_success_1')
                                    .sheet-grid__cell 
                                        +tick('attr_death_save_success_2')
                                    .sheet-grid__cell 
                                        +tick('attr_death_save_success_3')
                                .sheet-grid.sheet-grid--split 
                                    .sheet-grid__cell.sheet-grid__cell--1-3 
                                        .sheet-label Failures:
                                    .sheet-grid__cell 
                                        +tick('attr_death_save_fail_1')
                                    .sheet-grid__cell 
                                        +tick('attr_death_save_fail_2')
                                    .sheet-grid__cell 
                                        +tick('attr_death_save_fail_3')

                            .sheet-grid__cell.sheet-grid__cell--1-5 
                                +roll('roll_Death_Saving_Throw', '/em makes a DEATH saving throw\n\nDEATH save :  [[1d20 + (@{global_saving_bonus}) [Active Save Bonus] ]] Death Saving Throw')
