.sheet-grid.sheet-grid--col.sheet-grid--pad

    .sheet-grid__cell
        // bonuses row 1 
        h1.hdg Bonuses/Penalties 
            i.sheet-pictos 3
        p.sheet-small-note Use this to apply bonuses (or penalties) to all rolls of the specified type rolled using the sheet's macros.
    

    .sheet-grid__cell
        // bonuses row 2 
        .sheet-grid.sheet-grid--pad

            .sheet-grid__cell
                h2.hdg.hdg--2 Melee
                .sheet-grid.sheet-grid--split
                    .sheet-grid__cell
                        label.sheet-field
                            span.sheet-field__label Attack Rolls
                            input.sheet-field__field(
                                type="text" 
                                name="attr_global_melee_attack_bonus" 
                                value="0"
                            )
                        
                    
                    .sheet-grid__cell
                        label.sheet-field
                            span.sheet-field__label Damage Rolls
                            input.sheet-field__field(
                                type="text" 
                                name="attr_global_melee_damage_bonus" 
                                value="0"
                            )

            .sheet-grid__cell
                h2.hdg.hdg--2 Ranged
                .sheet-grid.sheet-grid--split
                    .sheet-grid__cell
                        label.sheet-field
                            span.sheet-field__label Attack Rolls
                            input.sheet-field__field(
                                type="text" 
                                name="attr_global_ranged_attack_bonus" 
                                value="0"
                            )
                        
                    
                    .sheet-grid__cell
                        label.sheet-field
                            span.sheet-field__label Damage Rolls
                            input.sheet-field__field(
                                type="text" 
                                name="attr_global_ranged_damage_bonus" 
                                value="0"
                            )
                        
                    
                
            
        
    

    .sheet-grid__cell
        // bonuses row 3 
        h2.hdg.hdg--2 Spellcasting

        .sheet-grid.sheet-grid--split
            .sheet-grid__cell
                label.sheet-field
                    span.sheet-field__label Attack Rolls
                    input.sheet-field__field(
                        type="text" 
                        name="attr_global_spell_attack_bonus" 
                        value="0"
                    )
                
            
            .sheet-grid__cell
                label.sheet-field
                    span.sheet-field__label Damage Rolls
                    input.sheet-field__field(
                        type="text" 
                        name="attr_global_spell_damage_bonus" 
                        value="0"
                    )
                
            
            .sheet-grid__cell
                label.sheet-field
                    span.sheet-field__label Save DC
                    input.sheet-field__field(
                        type="text" 
                        name="attr_global_spell_dc_bonus" 
                        value="0" 
                        step="1"
                    )
                
            
        
    
    .sheet-grid__cell
        // bonuses row 4 
        h2.hdg.hdg--2 Saves and skill checks

        .sheet-grid.sheet-grid--split
            .sheet-grid__cell
                label.sheet-field
                    span.sheet-field__label Saving thows
                    input.sheet-field__field(
                        type="text" 
                        name="attr_global_saving_bonus" 
                        value="0"
                    )
                
            
            .sheet-grid__cell
                label.sheet-field
                    span.sheet-field__label Ability/Skill Checks
                    input.sheet-field__field(
                        type="text" 
                        name="attr_global_check_bonus" 
                        value="0"
                    )
