mixin skills-hdg()
    .hdg.hdg--2
        .sheet-grid.sheet-grid--sub
            .sheet-grid__cell &nbsp;
            .sheet-grid__cell.sheet-grid__cell--3-10 Skill
            .sheet-grid__cell.sheet-grid__cell--3-10 Proficient
            .sheet-grid__cell Bonus
            .sheet-grid__cell Total
            .sheet-grid__cell Pass

- var numSkills = skills.length
- var numSkillsInChunk = numSkills / 2
- var skillsGroups = [skills.slice(0, numSkillsInChunk), skills.slice(numSkillsInChunk + 1)]

.sheet-grid.sheet-grid--pad.sheet-grid--col
    .sheet-grid__cell
        h1.hdg Skills 
            i.sheet-pictos x
    
    .sheet-grid__cell
        .sheet-grid.sheet-grid--pad
            each skills in skillsGroups
                .sheet-grid__cell
                    +skills-hdg        
                    each skill in skills
                        .sheet-grid.sheet-grid--split
                            .sheet-grid__cell
                                +roll('roll_#{skill.id}_check', ' /em makes an ability check\n\n#{skill.attr} (#{skill.name}) check :\n [[1d20 + @{ #{skill.name} } [Proficiency + #{skill.attr} Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]')
                            .sheet-grid__cell.sheet-grid__cell--3-10
                                .sheet-label #{skill.name} (#{skill.attr})
                            .sheet-grid__cell.sheet-grid__cell--3-10
                                select( name="attr_#{skill.id}_prof_exp" )
                                    option(value="0") No
                                    option(value="floor(@{PB} / 2)") Jack of all trades
                                    option(value="@{PB}") Yes
                                    option(value="(2*@{PB})") Expertise
                            .sheet-grid__cell
                                input(
                                    type="number"
                                    name="attr_#{skill.id}_bonus" 
                                    value="0" 
                                    step="1"
                                )
                            .sheet-grid__cell
                                input.sheet-field(
                                    type="number" 
                                    name="attr_#{skill.id}" 
                                    value="@{ #{skill.id}_prof_exp} + @{ #{skill.attr}_mod} + @{ #{skill.id}_bonus}"
                                    disabled 
                                )
                            .sheet-grid__cell
                                input.sheet-field.sheet-field--blue(
                                    type="number" 
                                    name="attr_passive_#{skill.id}" 
                                    value="10 + @{ #{skill.id} }" 
                                    disabled
                                )
        //- 
        //-     .sheet-grid__cell.sheet-grid__cell--1-2
        //- 
        //-         .sheet-grid.sheet-grid--sub">
        //-             .sheet-grid__cell sheet-center label">&nbsp;
        //-             .sheet-grid__cell.sheet-grid__cell--3-10 label">Skill
        //-             .sheet-grid__cell.sheet-grid__cell--3-10 sheet-center label">Proficient
        //-             .sheet-grid__cell sheet-center label">Bonus
        //-             .sheet-grid__cell sheet-center label">Total
        //-             .sheet-grid__cell sheet-offset-1-24 sheet-center label">Pass
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell
        //-                 +roll('roll_Medicine_Check" name="roll_Medicine_Check" value="/em makes an ability check\n\nWIS (Medicine) check :\n[[1d20 + @{medicine} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{medicine} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--3-10 sheet-skill-name">Medicine (Wis)
        //-             .sheet-grid__cell.sheet-grid__cell--3-10">
        //-                 select id="attr_medicine_prof_exp" name="attr_medicine_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                     option(value="@{PB}">Yes
        //-                     option(value="(2*@{PB})">Expertise
        //-                 
        //-             
        //-             .sheet-grid__cell<input type="number" id="attr_medicine_bonus" name="attr_medicine_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell<input type="number" id="attr_medicine" name="attr_medicine" value="@{medicine_prof_exp}+@{wisdom_mod}+@{medicine_bonus}" disabled="disabled">
        //-             .sheet-grid__cell sheet-offset-1-24"><input type="number".sheet-passive-skill-score" id="attr_passive_medicine" name="attr_passive_medicine" value="10 + @{medicine}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell
        //-                 +roll('roll_Nature_Check" name="roll_Nature_Check" value="/em makes an ability check\n\nINT (Nature) check :\n[[1d20 + @{nature} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{nature} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--3-10 sheet-skill-name">Nature (Int)
        //-             .sheet-grid__cell.sheet-grid__cell--3-10">
        //-                 select id="attr_nature_prof_exp" name="attr_nature_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                     option(value="@{PB}">Yes
        //-                     option(value="(2*@{PB})">Expertise
        //-                 
        //-             
        //-             .sheet-grid__cell<input type="number" id="attr_nature_bonus" name="attr_nature_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell<input type="number" id="attr_nature" name="attr_nature" value="@{nature_prof_exp}+@{intelligence_mod}+@{nature_bonus}" disabled="disabled">
        //-             .sheet-grid__cell sheet-offset-1-24"><input type="number".sheet-passive-skill-score" id="attr_passive_nature" name="attr_passive_nature" value="10 + @{nature}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell
        //-                 +roll('roll_Perception_Check" name="roll_Perception_Check" value="/em makes an ability check\n\nWIS (Perception) check :\n[[1d20 + @{perception} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{perception} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--3-10 sheet-skill-name">Perception (Wis)
        //-             .sheet-grid__cell.sheet-grid__cell--3-10">
        //-                 select id="attr_perception_prof_exp" name="attr_perception_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                     option(value="@{PB}">Yes
        //-                     option(value="(2*@{PB})">Expertise
        //-                 
        //-             
        //-             .sheet-grid__cell<input type="number" id="attr_perception_bonus" name="attr_perception_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell<input type="number" id="attr_perception" name="attr_perception" value="@{perception_prof_exp}+@{wisdom_mod}+@{perception_bonus}" disabled="disabled">
        //-             .sheet-grid__cell sheet-offset-1-24"><input type="number".sheet-passive-skill-score" id="attr_passive_perception" name="attr_passive_perception" value="10 + @{perception}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell
        //-                 +roll('roll_Performance_Check" name="roll_Performance_Check" value="/em makes an ability check\n\nCHA (Performance) check :\n[[1d20 + @{performance} [Proficiency + Charisma Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{performance} [Proficiency + Charisma Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--3-10 sheet-skill-name">Performance (Cha)
        //-             .sheet-grid__cell.sheet-grid__cell--3-10">
        //-                 select id="attr_performance_prof_exp" name="attr_performance_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                     option(value="@{PB}">Yes
        //-                     option(value="(2*@{PB})">Expertise
        //-                 
        //-             
        //-             .sheet-grid__cell<input type="number" id="attr_performance_bonus" name="attr_performance_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell<input type="number" id="attr_performance" name="attr_performance" value="@{performance_prof_exp}+@{charisma_mod}+@{performance_bonus}" disabled="disabled">
        //-             .sheet-grid__cell sheet-offset-1-24"><input type="number".sheet-passive-skill-score" id="attr_passive_performance" name="attr_passive_performance" value="10 + @{performance}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell
        //-                 +roll('roll_Persuasion_Check" name="roll_Persuasion_Check" value="/em makes an ability check\n\nCHA (Persuasion) check :\n[[1d20 + @{persuasion} [Proficiency + Charisma Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{persuasion} [Proficiency + Charisma Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--3-10 sheet-skill-name">Persuasion (Cha)
        //-             .sheet-grid__cell.sheet-grid__cell--3-10">
        //-                 select id="attr_persuasion_prof_exp" name="attr_persuasion_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                     option(value="@{PB}">Yes
        //-                     option(value="(2*@{PB})">Expertise
        //-                 
        //-             
        //-             .sheet-grid__cell<input type="number" id="attr_persuasion_bonus" name="attr_persuasion_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell<input type="number" id="attr_persuasion" name="attr_persuasion" value="@{persuasion_prof_exp}+@{charisma_mod}+@{persuasion_bonus}" disabled="disabled">
        //-             .sheet-grid__cell sheet-offset-1-24"><input type="number".sheet-passive-skill-score" id="attr_passive_persuasion" name="attr_passive_persuasion" value="10 + @{persuasion}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell
        //-                 +roll('roll_Religion_Check" name="roll_Religion_Check" value="/em makes an ability check\n\nINT (Religion) check :\n[[1d20 + @{religion} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{religion} [Proficiency + Intelligence Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--3-10 sheet-skill-name">Religion (Int)
        //-             .sheet-grid__cell.sheet-grid__cell--3-10">
        //-                 select id="attr_religion_prof_exp" name="attr_religion_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                     option(value="@{PB}">Yes
        //-                     option(value="(2*@{PB})">Expertise
        //-                 
        //-             
        //-             .sheet-grid__cell<input type="number" id="attr_religion_bonus" name="attr_religion_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell<input type="number" id="attr_religion" name="attr_religion" value="@{religion_prof_exp}+@{intelligence_mod}+@{religion_bonus}" disabled="disabled">
        //-             .sheet-grid__cell sheet-offset-1-24"><input type="number".sheet-passive-skill-score" id="attr_passive_religion" name="attr_passive_religion" value="10 + @{religion}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell
        //-                 +roll('roll_SleightOfHand_Check" name="roll_SleightOfHand_Check" value="/em makes an ability check\n\nDEX (Sleight of Hand) check :\n[[1d20 + @{sleightofhand} [Proficiency + Dexterity Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{sleightofhand} [Proficiency + Dexterity Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--3-10 sheet-skill-name">Sleight of Hand (Dex)
        //-             .sheet-grid__cell.sheet-grid__cell--3-10">
        //-                 select id="attr_sleightofhand_prof_exp" name="attr_sleightofhand_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                     option(value="@{PB}">Yes
        //-                     option(value="(2*@{PB})">Expertise
        //-                 
        //-             
        //-             .sheet-grid__cell<input type="number" id="attr_sleightofhand_bonus" name="attr_sleightofhand_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell<input type="number" id="attr_sleightofhand" name="attr_sleightofhand" value="@{sleightofhand_prof_exp}+@{dexterity_mod}+@{sleightofhand_bonus}" disabled="disabled">
        //-             .sheet-grid__cell sheet-offset-1-24"><input type="number".sheet-passive-skill-score" id="attr_passive_sleightofhand" name="attr_passive_sleightofhand" value="10 + @{sleightofhand}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell
        //-                 +roll('roll_Stealth_Check" name="roll_Stealth_Check" value="/em makes an ability check\n\nDEX (Stealth) check :\n[[1d20 + @{stealth} [Proficiency + Dexterity Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{stealth} [Proficiency + Dexterity Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--3-10 sheet-skill-name">Stealth (Dex)
        //-             .sheet-grid__cell.sheet-grid__cell--3-10">
        //-                 select id="attr_stealth_prof_exp" name="attr_stealth_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                     option(value="@{PB}">Yes
        //-                     option(value="(2*@{PB})">Expertise
        //-                 
        //-             
        //-             .sheet-grid__cell<input type="number" id="attr_stealth_bonus" name="attr_stealth_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell<input type="number" id="attr_stealth" name="attr_stealth" value="@{stealth_prof_exp}+@{dexterity_mod}+@{stealth_bonus}" disabled="disabled">
        //-             .sheet-grid__cell sheet-offset-1-24"><input type="number".sheet-passive-skill-score" id="attr_passive_stealth" name="attr_passive_stealth" value="10 + @{stealth}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell
        //-                 +roll('roll_Survival_Check" name="roll_Survival_Check" value="/em makes an ability check\n\nWIS (Survival) check :\n[[1d20 + @{survival} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{survival} [Proficiency + Wisdom Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--3-10 sheet-skill-name">Survival (Wis)
        //-             .sheet-grid__cell.sheet-grid__cell--3-10">
        //-                 select id="attr_survival_prof_exp" name="attr_survival_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                     option(value="@{PB}">Yes
        //-                     option(value="(2*@{PB})">Expertise
        //-                 
        //-             
        //-             .sheet-grid__cell<input type="number" id="attr_survival_bonus" name="attr_survival_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell<input type="number" id="attr_survival" name="attr_survival" value="@{survival_prof_exp}+@{wisdom_mod}+@{survival_bonus}" disabled="disabled">
        //-             .sheet-grid__cell sheet-offset-1-24"><input type="number".sheet-passive-skill-score" id="attr_passive_survival" name="attr_passive_survival" value="10 + @{survival}" disabled="disabled">
        //-         
        //- 
        //-     
        //- 
        //- 
        //- 
        //- <hr />
        //- 
        //- .sheet-grid">
        //- 
        //-     .sheet-grid__cell.sheet-grid__cell--1-2
        //- 
        //-         .sheet-grid.sheet-grid--sub">
        //-             .sheet-grid__cell sheet-center label">&nbsp;
        //-             .sheet-grid__cell.sheet-grid__cell--3-10 label sheet-center">Skill
        //-             .sheet-grid__cell.sheet-grid__cell--1-6 label sheet-center">Stat
        //-             .sheet-grid__cell.sheet-grid__cell--5-24 sheet-center label">Proficient
        //-             .sheet-grid__cell sheet-center label">Bonus
        //-             .sheet-grid__cell sheet-center label">Total
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell
        //-                 +roll('roll_Custom_Skill_1" name="roll_Custom_Skill_1" value="/em makes an ability check\n\n@{custom_skill_1_name} check :\n[[1d20 + @{custom_skill_1} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{custom_skill_1} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--3-10"><input type="text".sheet-center" id="attr_custom_skill_1_name" name="attr_custom_skill_1_name" value="Custom 1">
        //-             .sheet-grid__cell.sheet-grid__cell--1-6 label sheet-center">
        //-                 select id="attr_custom_skill_1_mod" name="attr_custom_skill_1_mod">
        //-                     option(value="0">None
        //-                     option(value="@{strength_mod}">STR
        //-                     option(value="@{dexterity_mod}">DEX
        //-                     option(value="@{constitution_mod}">CON
        //-                     option(value="@{intelligence_mod}">INT
        //-                     option(value="@{wisdom_mod}">WIS
        //-                     option(value="@{charisma_mod}">CHA
        //-                 
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--5-24">
        //-                 select id="attr_custom_skill_1_prof_exp" name="attr_custom_skill_1_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                     option(value="@{PB}">Yes
        //-                     option(value="(2*@{PB})">Expertise
        //-                 
        //-             
        //-             .sheet-grid__cell<input type="number" id="attr_custom_skill_1_bonus" name="attr_custom_skill_1_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell<input type="number" id="attr_custom_skill_1" name="attr_custom_skill_1" value="@{custom_skill_1_prof_exp}+@{custom_skill_1_mod}+@{custom_skill_1_bonus}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell
        //-                 +roll('roll_Custom_Skill_2" name="roll_Custom_Skill_2" value="/em makes an ability check\n\n@{custom_skill_2_name} check :\n[[1d20 + @{custom_skill_2} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{custom_skill_2} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--3-10"><input type="text".sheet-center" id="attr_custom_skill_2_name" name="attr_custom_skill_2_name" value="Custom 2
        //-             .sheet-grid__cell.sheet-grid__cell--1-6 label sheet-center">
        //-                 select id="attr_custom_skill_2_mod" name="attr_custom_skill_2_mod">
        //-                     option(value="0">None
        //-                     option(value="@{strength_mod}">STR
        //-                     option(value="@{dexterity_mod}">DEX
        //-                     option(value="@{constitution_mod}">CON
        //-                     option(value="@{intelligence_mod}">INT
        //-                     option(value="@{wisdom_mod}">WIS
        //-                     option(value="@{charisma_mod}">CHA
        //-                 
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--5-24">
        //-                 select id="attr_custom_skill_2_prof_exp" name="attr_custom_skill_2_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                     option(value="@{PB}">Yes
        //-                     option(value="(2*@{PB})">Expertise
        //-                 
        //-             
        //-             .sheet-grid__cell<input type="number" id="attr_custom_skill_2_bonus" name="attr_custom_skill_2_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell<input type="number" id="attr_custom_skill_2" name="attr_custom_skill_2" value="@{custom_skill_2_prof_exp}+@{custom_skill_2_mod}+@{custom_skill_2_bonus}" disabled="disabled">
        //-         
        //- 
        //-     
        //- 
        //-     .sheet-grid__cell.sheet-grid__cell--1-2
        //- 
        //-         .sheet-grid.sheet-grid--sub">
        //-             .sheet-grid__cell sheet-center label">&nbsp;
        //-             .sheet-grid__cell.sheet-grid__cell--3-10 label sheet-center">Skill
        //-             .sheet-grid__cell.sheet-grid__cell--1-6 label sheet-center">Stat
        //-             .sheet-grid__cell.sheet-grid__cell--5-24 sheet-center label">Proficient
        //-             .sheet-grid__cell sheet-center label">Bonus
        //-             .sheet-grid__cell sheet-center label">Total
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell
        //-                 +roll('roll_Custom_Skill_3" name="roll_Custom_Skill_3" value="/em makes an ability check\n\n@{custom_skill_3_name} check :\n[[1d20 + @{custom_skill_3} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{custom_skill_3} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--3-10"><input type="text".sheet-center" id="attr_custom_skill_3_name" name="attr_custom_skill_3_name" value="Custom 3">
        //-             .sheet-grid__cell.sheet-grid__cell--1-6 label sheet-center">
        //-                 select id="attr_custom_skill_3_mod" name="attr_custom_skill_3_mod">
        //-                     option(value="0">None
        //-                     option(value="@{strength_mod}">STR
        //-                     option(value="@{dexterity_mod}">DEX
        //-                     option(value="@{constitution_mod}">CON
        //-                     option(value="@{intelligence_mod}">INT
        //-                     option(value="@{wisdom_mod}">WIS
        //-                     option(value="@{charisma_mod}">CHA
        //-                 
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--5-24">
        //-                 select id="attr_custom_skill_3_prof_exp" name="attr_custom_skill_3_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                     option(value="@{PB}">Yes
        //-                     option(value="(2*@{PB})">Expertise
        //-                 
        //-             
        //-             .sheet-grid__cell<input type="number" id="attr_custom_skill_3_bonus" name="attr_custom_skill_3_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell<input type="number" id="attr_custom_skill_3" name="attr_custom_skill_3" value="@{custom_skill_3_prof_exp}+@{custom_skill_3_mod}+@{custom_skill_3_bonus}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell
        //-                 +roll('roll_Custom_Skill_4" name="roll_Custom_Skill_4" value="/em makes an ability check\n\n@{custom_skill_4_name} check :\n[[1d20 + @{custom_skill_4} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]] | [[1d20 + @{custom_skill_4} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--3-10"><input type="text".sheet-center" id="attr_custom_skill_4_name" name="attr_custom_skill_4_name" value="Custom 4">
        //-             .sheet-grid__cell.sheet-grid__cell--1-6 label sheet-center">
        //-                 select id="attr_custom_skill_4_mod" name="attr_custom_skill_4_mod">
        //-                     option(value="0">None
        //-                     option(value="@{strength_mod}">STR
        //-                     option(value="@{dexterity_mod}">DEX
        //-                     option(value="@{constitution_mod}">CON
        //-                     option(value="@{intelligence_mod}">INT
        //-                     option(value="@{wisdom_mod}">WIS
        //-                     option(value="@{charisma_mod}">CHA
        //-                 
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--5-24">
        //-                 select id="attr_custom_skill_4_prof_exp" name="attr_custom_skill_4_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                     option(value="@{PB}">Yes
        //-                     option(value="(2*@{PB})">Expertise
        //-                 
        //-             
        //-             .sheet-grid__cell
        //-                 input type="number" id="attr_custom_skill_4_bonus" name="attr_custom_skill_4_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell
        //-                 input type="number" id="attr_custom_skill_4" name="attr_custom_skill_4" value="@{custom_skill_4_prof_exp}+@{custom_skill_4_mod}+@{custom_skill_4_bonus}" disabled="disabled">
        //-         
        //- 
        //-     
        //- 
        //- 
        //- 
        //- <hr/>
        //- 
        //- .sheet-grid">
        //- 
        //-     .sheet-grid__cell.sheet-grid__cell--1-2
        //- 
        //-         .sheet-grid.sheet-grid--sub">
        //-             .sheet-grid__cell.sheet-grid__cell--1-7 sheet-center label">&nbsp;
        //-             .sheet-grid__cell.sheet-grid__cell--2-7 label">Other
        //-             .sheet-grid__cell.sheet-grid__cell--2-7 sheet-center label">Proficient
        //-             .sheet-grid__cell.sheet-grid__cell--1-7 sheet-center label">Misc
        //-             .sheet-grid__cell.sheet-grid__cell--1-7 sheet-center label">Total
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell.sheet-grid__cell--1-7
        //-                 +roll('roll_Basic_Strength_Check" name="roll_Basic_Strength_Check" value="/em makes an ability check\n\nSTR (no skill) check :\n[[1d20 + @{basic_strength_check_mod} [Strength Mod] + (@{global_check_bonus}) [Active Check Bonus] ]] | [[1d20 + @{basic_strength_check_mod} [Strength Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--2-7 sheet-skill-name">(Unskilled STR check)
        //-             .sheet-grid__cell.sheet-grid__cell--2-7
        //-                 select id="attr_basic_strength_prof_exp" name="attr_basic_strength_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                 
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--1-7<input type="number" id="attr_basic_strength_bonus" name="attr_basic_strength_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell.sheet-grid__cell--1-7<input type="number" id="attr_basic_strength_check_mod" name="attr_basic_strength_check_mod" value="@{strength_mod} + @{basic_strength_bonus} + @{basic_strength_prof_exp}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell.sheet-grid__cell--1-7
        //-                 +roll('roll_Basic_Dexterity_Check" name="roll_Basic_Dexterity_Check" value="/em makes an ability check\n\nDEX (no skill) check :\n[[1d20 + @{basic_dexterity_check_mod} [Dexterity Mod] + (@{global_check_bonus}) [Active Check Bonus] ]] | [[1d20 + @{basic_dexterity_check_mod} [Dexterity Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--2-7 sheet-skill-name">(Unskilled DEX check)
        //-             .sheet-grid__cell.sheet-grid__cell--2-7
        //-                 select id="attr_basic_dexterity_prof_exp" name="attr_basic_dexterity_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                 
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--1-7<input type="number" id="attr_basic_dexterity_bonus" name="attr_basic_dexterity_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell.sheet-grid__cell--1-7<input type="number" id="attr_basic_dexterity_check_mod" name="attr_basic_dexterity_check_mod" value="@{dexterity_mod} + @{basic_dexterity_bonus} + @{basic_dexterity_prof_exp}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell.sheet-grid__cell--1-7
        //-                 +roll('roll_Basic_Constitution_Check" name="roll_Basic_Constitution_Check" value="/em makes an ability check\n\nCON (no skill) check :\n[[1d20 + @{basic_constitution_check_mod} [Constitution Mod] + (@{global_check_bonus}) [Active Check Bonus] ]] | [[1d20 + @{basic_constitution_check_mod} [Constitution Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--2-7 sheet-skill-name">(Unskilled CON check)
        //-             .sheet-grid__cell.sheet-grid__cell--2-7
        //-                 select id="attr_basic_constitution_prof_exp" name="attr_basic_constitution_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                 
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--1-7<input type="number" id="attr_basic_constitution_bonus" name="attr_basic_constitution_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell.sheet-grid__cell--1-7<input type="number" id="attr_basic_constitution_check_mod" name="attr_basic_constitution_check_mod" value="@{constitution_mod} + @{basic_constitution_bonus} + @{basic_constitution_prof_exp}" disabled="disabled">
        //-         
        //- 
        //-     
        //- 
        //-     .sheet-grid__cell.sheet-grid__cell--1-2
        //- 
        //-         .sheet-grid.sheet-grid--sub">
        //-             .sheet-grid__cell.sheet-grid__cell--1-7 sheet-center label">&nbsp;
        //-             .sheet-grid__cell.sheet-grid__cell--2-7 label">Other
        //-             .sheet-grid__cell.sheet-grid__cell--2-7 sheet-center label">Proficient
        //-             .sheet-grid__cell.sheet-grid__cell--1-7 sheet-center label">Misc
        //-             .sheet-grid__cell.sheet-grid__cell--1-7 sheet-center label">Total
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell.sheet-grid__cell--1-7
        //-                 +roll('roll_Basic_Wisdom_Check" name="roll_Basic_Wisdom_Check" value="/em makes an ability check\n\nWIS (no skill) check :\n[[1d20 + @{basic_wisdom_check_mod} [Wisdom Mod] + (@{global_check_bonus}) [Active Check Bonus] ]] | [[1d20 + @{basic_wisdom_check_mod} [Wisdom Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--2-7 sheet-skill-name">(Unskilled WIS check)
        //-             .sheet-grid__cell.sheet-grid__cell--2-7
        //-                 select id="attr_basic_wisdom_prof_exp" name="attr_basic_wisdom_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                 
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--1-7<input type="number" id="attr_basic_wisdom_bonus" name="attr_basic_wisdom_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell.sheet-grid__cell--1-7<input type="number" id="attr_basic_wisdom_check_mod" name="attr_basic_wisdom_check_mod" value="@{wisdom_mod} + @{basic_wisdom_bonus} + @{basic_wisdom_prof_exp}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell.sheet-grid__cell--1-7
        //-                 +roll('roll_Basic_Intelligence_Check" name="roll_Basic_Intelligence_Check" value="/em makes an ability check\n\nINT (no skill) check :\n[[1d20 + @{basic_intelligence_check_mod} [Intelligence Mod] + (@{global_check_bonus}) [Active Check Bonus] ]] | [[1d20 + @{basic_intelligence_check_mod} [Intelligence Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--2-7 sheet-skill-name">(Unskilled INT check)
        //-             .sheet-grid__cell.sheet-grid__cell--2-7
        //-                 select id="attr_basic_intelligence_prof_exp" name="attr_basic_intelligence_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                 
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--1-7<input type="number" id="attr_basic_intelligence_bonus" name="attr_basic_intelligence_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell.sheet-grid__cell--1-7<input type="number" id="attr_basic_intelligence_check_mod" name="attr_basic_intelligence_check_mod" value="@{intelligence_mod} + @{basic_intelligence_bonus} + @{basic_intelligence_prof_exp}" disabled="disabled">
        //-         
        //- 
        //-         .sheet-grid.sheet-grid--split
        //-             .sheet-grid__cell.sheet-grid__cell--1-7
        //-                 +roll('roll_Basic_Charisma_Check" name="roll_Basic_Charisma_Check" value="/em makes an ability check\n\nCHA (no skill) check :\n[[1d20 + @{basic_charisma_check_mod} [Charisma Mod] + (@{global_check_bonus}) [Active Check Bonus] ]] | [[1d20 + @{basic_charisma_check_mod} [Charisma Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]'
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--2-7 sheet-skill-name">(Unskilled CHA check)
        //-             .sheet-grid__cell.sheet-grid__cell--2-7
        //-                 select id="attr_basic_charisma_prof_exp" name="attr_basic_charisma_prof_exp">
        //-                     option(value="0">No
        //-                     option(value="floor(@{PB} / 2)">Jack of all trades
        //-                 
        //-             
        //-             .sheet-grid__cell.sheet-grid__cell--1-7<input type="number" id="attr_basic_charisma_bonus" name="attr_basic_charisma_bonus" value="0" step="1"/>
        //-             .sheet-grid__cell.sheet-grid__cell--1-7<input type="number" id="attr_basic_charisma_check_mod" name="attr_basic_charisma_check_mod" value="@{charisma_mod} + @{basic_charisma_bonus} + @{basic_charisma_prof_exp}" disabled="disabled">
        //-         
        //-     
        //- 
        //- 
