mixin title-field(modifier)
    span.sheet-title-field(
        class="sheet-title-field__" + modifier    
    )
        block
        .sheet-title-field__bar
        .sheet-title-field__bubble

.sheet-title
    +title-field('name')
        input(
            type="text" 
            name="attr_character_name"
        )

    +title-field('sub')
        input(
            type="text" 
            name="attr_race"
        )
            
    +title-field('sub')
        input(
            type="text"
            name="attr_class"
        )
