mixin title-field(label, modifier)
    label.sheet-title-field(
        class="sheet-title-field--" + modifier
    )
        block
        span.sheet-title-field__bar
        span.sheet-title-field__bubble
        span.sheet-title-field__label(
            class="sheet-title-field__label--" + modifier
        ) #{label}

.sheet-title
    +title-field('name', 'name')
        input(
            type="text" 
            name="attr_character_name"
            required
        )

    +title-field('race', 'sub')
        input(
            type="text" 
            name="attr_race"
            required
        )
            
    +title-field('class', 'sub')
        input(
            type="text"
            name="attr_class"
            required
        )
