.sheet-grid.sheet-grid--pad
    .sheet-grid__cell.sheet-grid__cell--5
        img(
            src="http://i.imgur.com/Y8KHPKm.png" 
            alt="Dungeons and Dragons (5th edition)"
        )
        
        
    .sheet-grid__cell.sheet-grid__cell--3
        label.sheet-field
            span.sheet-field__label Character Name
            input.sheet-field__field(
                type="text" 
                name="attr_character_name"
            )
            
    .sheet-grid__cell.sheet-grid__cell--2
        label.sheet-field
            span.sheet-field__label Race
            input.sheet-field__field(
                type="text" 
                name="attr_race"
            )
                
    .sheet-grid__cell.sheet-grid__cell--2
        label.sheet-field
            span.sheet-field__label Class
            input.sheet-field__field(
                type="text"
                name="attr_class"
            )
