.sheet-tabs
    each val, index in tabs
        input.sheet-tabs--tab(
            class="sheet-tabs--tab__" + index
            type="radio" 
            name="attr_tab" 
            value=index 
            title=val
            checked=index === 0
        )

    //- .sheet-tabs--section.sheet-tabs--section__1: include pc-core
    //- .sheet-tabs--section.sheet-tabs--section__2: include pc-skills
    .sheet-tabs--section.sheet-tabs--section__3: include pc-background
    //- .sheet-tabs--section.sheet-tabs--section__4: include pc-skills
    //- .sheet-tabs--section.sheet-tabs--section__5: include pc-weapons
    //- .sheet-tabs--section.sheet-tabs--section__6: include pc-spellbook
    //- .sheet-tabs--section.sheet-tabs--section__7: include pc-inventory
    //- .sheet-tabs--section.sheet-tabs--section__8: include pc-armour
