.sheet-grid.sheet-grid--pad.sheet-grid--col
    .sheet-grid__cell

        h1.sheet-hdg Appearance, Vision, Languages and Alignment 
            i.sheet-pictos U

        .sheet-grid.sheet-grid--split
            .sheet-grid__cell 
                label.sheet-field
                    .sheet-field__label Gender
                    input.sheet-field_field(
                        type="text" 
                        name="attr_gender"
                    )
            .sheet-grid__cell 
                label.sheet-field
                    .sheet-field__label Age
                    input.sheet-field_field(
                        type="number" 
                        name="attr_age"
                    )
            .sheet-grid__cell 
                label.sheet-field
                    .sheet-field__label Height
                    input.sheet-field_field(
                        type="text" 
                        name="attr_height"
                    )
            .sheet-grid__cell 
                label.sheet-field
                    .sheet-field__label Weight
                    input.sheet-field_field(
                        type="text" 
                        name="attr_weight"
                    )
            .sheet-grid__cell 
                label.sheet-field
                    .sheet-field__label Eyes
                    input.sheet-field_field(
                        type="text" 
                        name="attr_eyes"
                    )
            .sheet-grid__cell 
                label.sheet-field
                    .sheet-field__label Hair
                    input.sheet-field_field(
                        type="text" 
                        name="attr_hair"
                    )
            .sheet-grid__cell 
                label.sheet-field
                    .sheet-field__label Size
                    input.sheet-field__field(
                        type="text" 
                        name="attr_size"
                    ) 

        .sheet-grid.sheet-grid--split
            .sheet-grid__cell.sheet-grid__cell-1-6
                label.sheet-field
                    .sheet-field__label Vision
                    input.sheet-field__field(
                        type="text"
                        name="attr_vision"
                    )
            .sheet-grid__cell.sheet-grid__cell-2-3
                label.sheet-field
                    .sheet-field__label Known Languages
                    input.sheet-field__field(
                        type="text"
                        name="attr_prolanguages"
                    )
            .sheet-grid__cell.sheet-grid__cell-1-6
                label.sheet-field
                    .sheet-field__label Alignment
                    input.sheet-field__field(
                        type="text"
                        name="attr_alignment"
                    )

    .sheet-grid__cell
        h1.sheet-hdg Background, Traits, Ideals, Bonds and Flaws 
            i.sheet-pictos g
        .sheet-grid.sheet-grid--sub 
            .sheet-grid__cell Background
            .sheet-grid__cell Racial Traits
            .sheet-grid__cell Personality Traits

        .sheet-grid.sheet-grid--split
            .sheet-grid__cell 
                textarea(name="attr_background")
            .sheet-grid__cell 
                textarea(name="attr_racial_traits")
            .sheet-grid__cell 
                textarea(name="attr_personality_traits")


        .sheet-grid.sheet-grid--sub 
            .sheet-grid__cell Ideals
            .sheet-grid__cell Bonds
            .sheet-grid__cell Flaws


        .sheet-grid.sheet-grid--split
            .sheet-grid__cell 
                textarea(name="attr_ideals")
            .sheet-grid__cell 
                textarea(name="attr_bonds")
            .sheet-grid__cell 
                textarea(name="attr_flaws")

    .sheet-grid__cell

        h1.sheet-hdg Equipment Proficiencies 
            i.sheet-pictos x
        .sheet-grid.sheet-grid--sub 
            .sheet-grid__cell Armour Proficiencies
            .sheet-grid__cell Weapon Proficiencies
            .sheet-grid__cell Tool Proficiencies


        .sheet-grid.sheet-grid--split
            .sheet-grid__cell 
                textarea(name="attr_pro_armour")
            .sheet-grid__cell 
                textarea(name="attr_pro_weapons")
            .sheet-grid__cell 
                textarea(name="attr_pro_tools")
