.sheet-row.sheet-row--hd 
    .sheet-row__cell Spell Slots 
.sheet-row.sheet-row--hd 
    .sheet-row__cell Level 
    .sheet-row__cell Used 
    .sheet-row__cell Max 
 
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9]
    .sheet-row
        .sheet-row__cell 
            .sheet-label=i 
        .sheet-row__cell 
            input.sheet-field(
                type="number" 
                name="attr_spell_slots_l#{i}" 
                value="0"
            )
        .sheet-row__cell 
            input.sheet-field(
                type="number" 
                name="attr_spell_slots_l#{i}_max" 
                value="0"
            )
