.sheet-card
    h1.sheet-hdg Core Stats

    .sheet-row.sheet-row--hd
        .sheet-row__cell &nbsp;
        .sheet-row__cell Score
        .sheet-row__cell Mod
        .sheet-row__cell Save Prof?
        .sheet-row__cell Save Bonus
        .sheet-row__cell.sheet-row__cell--sm Save

    each ability in abilities
        .sheet-row
            .sheet-row__cell
                .sheet-label.sheet-label--core-stat= ability.abbr

            .sheet-row__cell
                input.sheet-field(
                    type='number'
                    name='attr_#{ability.name}'
                    min='1'
                    step='1'
                )

            .sheet-row__cell
                input.sheet-field(
                    type='number'
                    name='attr_#{ability.name}_mod'
                    value='(floor((@{#{ability.name}}-10)/2))'
                    disabled
                )

            .sheet-row__cell
                +tick(
                    'attr_' + ability.name + '_save_prof',
                    '@{PB}'
                )

            .sheet-row__cell
                input.sheet-field(
                    type='number'
                    name='attr_#{ability.name}_save_mod'
                    value='@\{#{ability.name}_mod} + @\{#{ability.name}_save_prof}'
                    disabled
                )

            .sheet-row__cell.sheet-row__cell--sm
                - var savingThrowFormula = '[[ 1d20 + @{' + ability.name + '_save_mod} [Stat Mod and Proficiency] + (@{global_saving_bonus}) [Active Save Bonus] ]]'
                
                +roll(
                    name='roll_Strength_Save'
                    value='/em attempts a saving throw\n\n#{ability.name} save: #{savingThrowFormula} | #{savingThrowFormula}'
                )
