h2.sheet-hdg.sheet-hdg--2 Melee

.sheet-row
    .sheet-row__cell
        +field('Attack')
            input(
                type="text"
                name="attr_global_melee_attack_bonus"
                value="0"
            )

    .sheet-row__cell
        +field('Damage')
            input(
                type="text"
                name="attr_global_melee_damage_bonus"
                value="0"
            )
