// bonuses row 4
h2.sheet-hdg.sheet-hdg--2 Saves and skill checks

.sheet-row
    .sheet-row__cell
        +field('Saving thows')
            input(
                type="text"
                name="attr_global_saving_bonus"
                value="0"
            )


    .sheet-row__cell
        +field('Ability/Skill Checks')
            input(
                type="text"
                name="attr_global_check_bonus"
                value="0"
            )
