mixin custom-skills-hdg()
    .sheet-row.sheet-row--hd
        .sheet-row__cell.sheet-row__cell--sm
        .sheet-row__cell.sheet-row__cell--3 Skill
        .sheet-row__cell.sheet-row__cell--2 Stat
        .sheet-row__cell.sheet-row__cell--2 Proficient
        .sheet-row__cell.sheet-row__cell--sm Bonus
        .sheet-row__cell.sheet-row__cell--sm Total

- var numCustomSkills = 4
- var customSkillsPerColumn = numCustomSkills / NUM_SKILL_COLUMNS
- var col = 1
- var i = 1

.sheet-grid
    while col <= NUM_SKILL_COLUMNS
        .sheet-grid__cell
            +custom-skills-hdg()
            while i <= col * customSkillsPerColumn
                .sheet-row
                    .sheet-row__cell.sheet-row__cell--sm
                        +roll("roll_Custom_Skill_#{i}", '/em makes an ability check\n\n@{custom_skill_#{i}_name} check :\n[[1d20 + @{custom_skill_#{i}} [Proficiency + Stat Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]')
                    .sheet-row__cell.sheet-row__cell--3
                        input.sheet-field(
                            type="text"
                            name="attr_custom_skill_#{i}_name"
                            value="Custom #{i}"
                        )
                    .sheet-row__cell.sheet-row__cell--2
                        select.sheet-select(
                            name="attr_custom_skill_#{i}_mod"
                        )
                            option(value="0") None
                            each ability in abilities
                                option(value="@{#{ability.name}_mod}") #{ability.abbr}
                    .sheet-row__cell.sheet-row__cell--2
                        select.sheet-select(name="attr_custom_skill_1_prof_exp")
                            +skill-proficiency-options()
                    .sheet-row__cell.sheet-row__cell--sm
                        input.sheet-field(
                            type="number"
                            name="attr_custom_skill_#{i}_bonus"
                            value="0"
                            step="1"
                        )
                    .sheet-row__cell.sheet-row__cell--sm
                        input.sheet-field(
                            type="number"
                            name="attr_custom_skill_#{i}"
                            value="@{custom_skill_#{i}_prof_exp}+@{custom_skill_#{i}_mod}+@{custom_skill_#{i}_bonus}"
                            disabled
                        )
                - i++
        - col++
