- var numSkills = skills.length
- var numSkillsInChunk = numSkills / NUM_SKILL_COLUMNS
- var skillsGroups = [skills.slice(0, numSkillsInChunk), skills.slice(numSkillsInChunk)]

each skills in skillsGroups
    .sheet-grid__cell
        +skills-hdg        
        each skill in skills
            .sheet-grid.sheet-grid--split
                .sheet-grid__cell.sheet-grid__cell--sm
                    +roll('roll_#{skill.id}_check', ' /em makes an ability check\n\n#{skill.attr} (#{skill.name}) check :\n [[1d20 + @{ #{skill.name} } [Proficiency + #{skill.attr} Mod + Expertise + Misc] + (@{global_check_bonus}) [Ability Check Bonus] ]]')
                .sheet-grid__cell.sheet-grid__cell--3
                    .sheet-label #{skill.name} (#{skill.attr})
                .sheet-grid__cell.sheet-grid__cell--3
                    select( name="attr_#{skill.id}_prof_exp" )
                        +skill-proficiency-options()
                .sheet-grid__cell.sheet-grid__cell--sm
                    input.sheet-field(
                        type="number"
                        name="attr_#{skill.id}_bonus" 
                        value="0" 
                        step="1"
                    )
                .sheet-grid__cell.sheet-grid__cell--sm
                    input.sheet-field(
                        type="number" 
                        name="attr_#{skill.id}" 
                        value="@{ #{skill.id}_prof_exp} + @{ #{skill.attr}_mod} + @{ #{skill.id}_bonus}"
                        disabled 
                    )
                .sheet-grid__cell.sheet-grid__cell--sm
                    input.sheet-field.sheet-field--blue(
                        type="number" 
                        name="attr_passive_#{skill.id}" 
                        value="10 + @{ #{skill.id} }" 
                        disabled
                    )
