.sheet-row
    .sheet-row__cell.sheet-row__cell--sm
        +roll(
            'roll_basic_' + ability.name + '_check',
            '/em makes an ability check\n\n' + ability.abbr + ' (no skill) check :\n[[1d20 + @{basic_' + ability.name + '_check_mod} [' + ability.name + ' Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]'
        )
    .sheet-row__cell
        +field(ability.abbr)
            div Unskilled
    .sheet-row__cell
        +select(
            name= '#attr_basic_#{ability.name}_prof_exp'
        )
            option(value="0") No
            option(value="floor(@{PB} / 2)") Jack of all trades
    .sheet-row__cell.sheet-row__cell--sm
        input.sheet-field(
            type="number"
            name="attr_basic_#{ability.name}_bonus"
            value="0"
            step="1"
        )
    .sheet-row__cell.sheet-row__cell--sm
        input.sheet-field(
            type="number"
            name="attr_basic_#{ability.name}_check_mod"
            value="@{#{ability.name}_mod} + @{basic_#{ability.name}_bonus} + @{basic_#{ability.name}_prof_exp}"
            disabled
        )
    .sheet-row__cell.sheet-row__cell--sm
