.sheet-grid.sheet-grid--split
    .sheet-grid__cell.sheet-grid__cell--sm
        +roll(
            'roll_basic_' + ability.name + '_check', 
            '/em makes an ability check\n\n' + ability.abbr + ' (no skill) check :\n[[1d20 + @{basic_' + ability.name + '_check_mod} [' + ability.name + ' Mod] + (@{global_check_bonus}) [Active Check Bonus] ]]'
        )
    .sheet-grid__cell
        +field(ability.abbr)
            div Unskilled
    .sheet-grid__cell
        .sheet-field.sheet-field--select
            select(
                name= '#attr_basic_#{ability.name}_prof_exp'
            )
                option(value="0") No
                option(value="floor(@{PB} / 2)") Jack of all trades
    .sheet-grid__cell.sheet-grid__cell--sm
        input.sheet-field(
            type="number"
            name="attr_basic_#{ability.name}_bonus" 
            value="0" 
            step="1"
        )
    .sheet-grid__cell.sheet-grid__cell--sm
        input.sheet-field(
            type="number" 
            name="attr_basic_#{ability.name}_check_mod" 
            value="@{#{ability.name}_mod} + @{basic_#{ability.name}_bonus} + @{basic_#{ability.name}_prof_exp}" 
            disabled
        )
    .sheet-grid__cell.sheet-grid__cell--sm
