doctype html
html
    head
        link(
            href='https://d3clqjduf2gvxg.cloudfront.net/assets/base.css?1420474675' 
            rel='stylesheet' 
        )
        link(
            href='https://d3clqjduf2gvxg.cloudfront.net/assets/app.css?1420491701' 
            rel='stylesheet' 
        )
        link(
            href="DnD_5e.css" 
            rel="stylesheet"
        )
        style body { margin: 0; padding: 0; } html, body {height: 100%}

    body    
        include includes/sheet
