h1.hdg Coin Carried
    i.sheet-pictos h  
    
.sheet-grid.sheet-grid--split
    .sheet-grid__cell
        p.sheet-note Total = value of all coins converted to GP 
 
.sheet-grid.sheet-grid--split
    .sheet-grid__cell
        +field('CP')
            input(
                title="Copper Pieces"
                type="number" 
                name="attr_cp" 
                value="0" 
                min="0" 
                step="1" 
            )
    .sheet-grid__cell
        +field('SP')
            input(
                title="Silver Pieces" 
                type="number" 
                name="attr_sp" 
                value="0" 
                min="0" 
                step="1"
            )
    .sheet-grid__cell
        +field('EP')
            input(
                title="Electrum Pieces" 
                type="number" 
                name="attr_ep" 
                value="0" 
                min="0" 
                step="1"
            )
    .sheet-grid__cell
        +field('GP')
            input(
                title="Gold Pieces" 
                type="number" 
                name="attr_gp" 
                value="0" 
                min="0" 
                step="1"
            )
    .sheet-grid__cell
        +field('PP')
            input(
                title="Platinum Pieces" 
                type="number" 
                name="attr_pp" 
                value="0" 
                min="0" 
                step="1"
            )
    .sheet-grid__cell
        +field('total', 'disabled')
            input(
                title="Total (in Gold Pieces)" 
                type="number" 
                name="attr_money_total_gp" 
                value="(@{cp} / 100) + (@{sp} / 10) + (@{ep} / 2) + @{gp} + (@{pp} * 10) " 
                disabled
            ) 
